<h1><%= @chat_room.name %></h1>
<div class="container">

<div class='panel panel-default' id='messages'>
    <div class='panel-body'>
      <ul class='media-list'>
        <% @chat_room.messages.each do |message| %>
          <div>
            <% @message = message %>
            <%= render @message %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>

  <%= render 'form' %>
  <%= link_to 'Back', chat_rooms_path %>
</div>