<form id="new_message" action="/api/v1/messages" accept-charset="UTF-8" method="post" data-remote="true">
    <input name="authenticity_token" value="quUpZj9DoGO3xHmOXmWrBGL3Ib1C/mXlTGbi0e7ltzJlwZ5VFBKVIZCi1dm5dzvMgOa3GvHB/ca+eUSzt8h4hw==" type="hidden">
    <input name="content">
    <input name="room_id" value=<%= @chat_room.id %> hidden>
    <input type="submit" hidden>
</form>
